Source: ros-jazzy-rai-interfaces
Section: misc
Priority: optional
Maintainer: Adam Dabrowski <adam.dabrowski@robotec.ai>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-action-msgs, ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-geometry-msgs, ros-jazzy-rosidl-default-generators, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-vision-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rai-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, portaudio19-dev, ros-jazzy-action-msgs, ros-jazzy-geometry-msgs, ros-jazzy-nav2-msgs, ros-jazzy-nav2-simple-commander, ros-jazzy-rosidl-default-runtime, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-tf-transformations, ros-jazzy-vision-msgs, ros-jazzy-ros-workspace
Description: Interfaces for RAI communication
